:root {
  --vh: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.react-calendar {
  border: none !important;
}

/*아래 폰트*/

@font-face {
  font-family: "Serif_KR_light";
  src: url("../font/Noto_Serif_KR/NotoSerifKR-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display : swap;
}

@font-face {
  font-family: "Serif_KR_bold";
  src: url("../font/Noto_Serif_KR/NotoSerifKR-Bold.otf") format("opentype");
  font-display : swap;
  font-weight: 600;
  font-style: normal;
}